annotated-doc
annotated-types
anyio
APScheduler
asttokens
attrs
audioread
Authlib
beartype
cachetools
cryptography
cycler
cyclopts
debugpy
decorator
dnspythondocstring_parser
docutils
dotenv
fastapi
fastmcp
ffmpeg
filelock
fonttools
fsspec
greenlet
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
lazy_loader
librosa
markdown-it-py
MarkupSafe
mcp
mdurl
more-itertools
mpmath
msgpack
nest-asyncio
networkx
numba
numpy
openapi-pydantic
opentelemetry-api
packagingandasparso
pathable
pillow
platformdirs
pluggy
prompt_toolkit
psutil
pure_eval
py-key-value-aio
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pyloudnorm
python-dateutil
python-dotenv
python-multipart
regex
requests
safetensors
scikit-learn
scipy
setuptools
six
sniffio
soundfile
soxr
SQLAlchemy
sqlmodel
sse-starlette
starlette
sympy
threadpoolctl
tokenizers
torchtornado
tqdm
traitlets
transformers
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
watchfiles
wcwidth
websockets
zipp
demucs
